<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <sequenceNumberGenerator class="ch.qos.logback.core.spi.BasicSequenceNumberGenerator"/>
    <appender name="capture" class="dev.akkinoc.spring.boot.logback.access.test.extension.EventsCaptureAppender"/>
    <appender-ref ref="capture"/>
</configuration>
