<!DOCTYPE configuration>

<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %highlight(%.-3p) %cyan(%-30.30c{1}): %m %blue(-- %C{1}.%M\(%F:%L\) / %t){}%n
            </pattern>
        </encoder>
    </appender>
    <logger name="net.rakugakibox.spring.boot.logback.access" level="debug" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
