<!DOCTYPE configuration>

<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <springProfile name="">
        <appender name="UNUSED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>UNUSED_CONSOLE: %h %l %u [%t] &quot;%r&quot; %s %b</pattern>
            </encoder>
        </appender>
        <appender-ref ref="UNUSED_CONSOLE" />
    </springProfile>
    <springProfile name="!disableDefaultConsoleAppender">
        <appender name="DEFAULT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>DEFAULT_CONSOLE: %h %l %u [%t] &quot;%r&quot; %s %b</pattern>
            </encoder>
        </appender>
        <appender-ref ref="DEFAULT_CONSOLE" />
    </springProfile>
    <springProfile name="!disableDefaultConsoleAppender">
        <springProfile name="!disableDefaultNestedConsoleAppender">
            <appender name="DEFAULT_NESTED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>DEFAULT_NESTED_CONSOLE: %h %l %u [%t] &quot;%r&quot; %s %b</pattern>
                </encoder>
            </appender>
            <appender-ref ref="DEFAULT_NESTED_CONSOLE" />
        </springProfile>
    </springProfile>
    <springProfile name="enableAdditionalConsoleAppender">
        <appender name="ADDITIONAL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>ADDITIONAL_CONSOLE: %h %l %u [%t] &quot;%r&quot; %s %b</pattern>
            </encoder>
        </appender>
        <appender-ref ref="ADDITIONAL_CONSOLE" />
    </springProfile>
    <springProfile name="enableAdditionalConsoleAppender">
        <springProfile name="enableAdditionalNestedConsoleAppender">
            <appender name="ADDITIONAL_NESTED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>ADDITIONAL_NESTED_CONSOLE: %h %l %u [%t] &quot;%r&quot; %s %b</pattern>
                </encoder>
            </appender>
            <appender-ref ref="ADDITIONAL_NESTED_CONSOLE" />
        </springProfile>
    </springProfile>
</configuration>
