<!DOCTYPE configuration>

<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <filter class="net.rakugakibox.spring.boot.logback.access.test.LogbackAccessRequestHeaderDrivenFilter" />
    <appender
            name="QUEUE"
            class="net.rakugakibox.spring.boot.logback.access.test.queue.LogbackAccessEventQueuingAppender" />
    <appender-ref ref="QUEUE" />
</configuration>
