<!DOCTYPE configuration>

<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <appender
        name="IN_MEMORY_QUEUE"
        class="net.rakugakibox.spring.boot.logback.access.test.InMemoryLogbackAccessEventQueueAppender">
        <queueName>logback-access.xml</queueName>
    </appender>
    <appender-ref ref="IN_MEMORY_QUEUE" />
</configuration>
