name: build
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11, 17]
    name: Build with Java ${{ matrix.java }}
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v3.2.0
      - name: Setup Java
        uses: actions/setup-java@v3.9.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: maven
      - name: Build the project
        run: mvn -B clean install
      - name: Get the project version
        run: echo PROJECT_VERSION=$(mvn -B -Dexpression=project.version -DforceStdout -q help:evaluate) >>$GITHUB_ENV
      - name: Build the "examples/webmvc-tomcat-java" project
        run: mvn -B -Dlogback-access-spring-boot-starter.version=${{ env.PROJECT_VERSION }} clean install
        working-directory: examples/webmvc-tomcat-java
      - name: Build the "examples/webmvc-tomcat-kotlin" project
        run: mvn -B -Dlogback-access-spring-boot-starter.version=${{ env.PROJECT_VERSION }} clean install
        working-directory: examples/webmvc-tomcat-kotlin
      - name: Build the "examples/webmvc-jetty-java" project
        run: mvn -B -Dlogback-access-spring-boot-starter.version=${{ env.PROJECT_VERSION }} clean install
        working-directory: examples/webmvc-jetty-java
      - name: Build the "examples/webmvc-undertow-java" project
        run: mvn -B -Dlogback-access-spring-boot-starter.version=${{ env.PROJECT_VERSION }} clean install
        working-directory: examples/webmvc-undertow-java
      - name: Build the "examples/webflux-tomcat-java" project
        run: mvn -B -Dlogback-access-spring-boot-starter.version=${{ env.PROJECT_VERSION }} clean install
        working-directory: examples/webflux-tomcat-java
      - name: Build the "examples/webflux-jetty-java" project
        run: mvn -B -Dlogback-access-spring-boot-starter.version=${{ env.PROJECT_VERSION }} clean install
        working-directory: examples/webflux-jetty-java
      - name: Build the "examples/webflux-undertow-java" project
        run: mvn -B -Dlogback-access-spring-boot-starter.version=${{ env.PROJECT_VERSION }} clean install
        working-directory: examples/webflux-undertow-java
      - name: Upload the coverage report to Codecov
        uses: codecov/codecov-action@v3.1.1
