name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version
        type: string
        required: true
concurrency:
  group: release
  cancel-in-progress: false
jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    env:
      MAVEN_ARGS: -B --color always
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v5.0.1
        with:
          ssh-key: ${{ secrets.GIT_PRIVATE_KEY }}
      - name: Setup Java
        uses: actions/setup-java@v5.0.0
        with:
          distribution: temurin
          java-version: 21
          cache: maven
          server-id: central
          server-username: MAVEN_CENTRAL_USERNAME
          server-password: MAVEN_CENTRAL_PASSWORD
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_tag_gpgsign: true
      - name: Release the project
        run: mvn -DreleaseVersion=${{ inputs.version }} release:clean release:prepare
        env:
          MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
